<!doctype html>
<html lang="en-US">

  <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>top 25 upcoming</title>
      <link rel="stylesheet" href="css/style.css">
      <link rel="shortcut icon" type="image/x-icon" href="./images/pennywise.png">
      <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap" rel="stylesheet">
        <script src="script/script.js"></script>
  </head>

  <body>

    <header id="top">

    <div class="header-text">
        <h1> Chelsea's Horror Blog </h1>
        <p> Popcorn and Panic! </p>
    </div>

    <img src="images/horror_image2.jpg" id="header" alt="Header Picture"/>

    <div class="logo">
        <section id="topLeft_logo">
            <figure class="logo">
                <img src="images/chelsea.png" id="logo" alt="Logo Picture"/>
            </figure>
        </section>
    </div>
</header>



    



<ul class="htop">
    <li class="active"> <a href="index.html" onclick="setActive(this)">Home</a></li>
    <li> <a href="about.html" onclick="setActive(this)">About</a></li>
    <li> <a href="movie.html" onclick="setActive(this)">Movie Reviews</a></li>
    <li> <a href="latest.html" onclick="setActive(this)">Latest Info</a></li>
    <li> <a href="timeline.html" onclick="setActive(this)"> Top 25 </a></li>
    <li> <a href="forum.html" onclick="setActive(this)">Forums</a></li>
</ul>






    









<div class="containerL">
  <h3><a href="https://www.imdb.com/list/ls056154538/">IMDb </a> Upcoming Horror Movies</h3>
</div>














    <footer class="footer">
    <div id="content">
        <div class="footer-info">
            <p>  </p>
        </div>

            <div class="social-media">
                <ul class="social-media">
                    <p xmlns:cc="http://creativecommons.org/ns#" xmlns:dct="http://purl.org/dc/terms/"><a property="dct:title" rel="cc:attributionURL" href="https://ceq5032.github.io/horrorMovieReviews/">horrorMovieReviews</a> by <a rel="cc:attributionURL dct:creator" property="cc:attributionName" href="https://github.com/ceq5032/horrorMovieReviews">Chelsea Quijas</a> is licensed under <a href="https://creativecommons.org/licenses/by-sa/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" style="display:inline-block;">CC BY-SA 4.0<img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1" alt=""><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1" alt=""><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/sa.svg?ref=chooser-v1" alt=""></a></p>
                    <li>
                        <a href="https://github.com/ceq5032" target="_blank">
                            <span class="github-logo">
                                <img src="images/github.png" id="github" alt="github logo"/>
                            </span>
                        </a>
                        </li>
                      <li>

                        <a href="https://www.instagram.com/celysiaq/profilecard/?igsh=N2g4dzE5N2JkeW9o" target="_blank">
                            <span class="instagram-logo">
                                <img src="images/instagram.png" id="Instagram" alt="Instagram logo"/>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://icons8.com/icon/62466/pennywise">Pennywise</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
                    </li>

                </ul>
            </div>
        </div>
</footer>



    
  </body>
</html>
