<footer class="footer">
    <div id="content">
        <div class="footer-info">
            <p>&copy; 2024 Chelsea Quijas Movie Reviews | All Rights Reserved</p>
        </div>

        <div class="logos">
            <div class="social-media">
                <ul>
                    <li>
                        <a href="https://github.com/ceq5032" target="_blank">
                            <span class="github-logo">
                                <img src="images/github.png" id="github" alt="github logo"/>
                            </span>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.instagram.com/celysiaq/profilecard/?igsh=N2g4dzE5N2JkeW9o" target="_blank">
                            <span class="instagram-logo">
                                <img src="images/instagram.png" id="Instagram" alt="Instagram logo"/>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>